[submodule ".vim/bundle/mw-utils"]
	path = .vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule ".vim/bundle/characterize"]
	path = .vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
